body {
  background-color: #000;
  color: #aaa;
  font-family: sans-serif;
  font-size: 4em;
  text-align: center;
}

#input-decimal {
  background-color: #aaa;
  color: #000;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  border: none;
  width: 100%;
}
